.root {
    -fx-font-family: "Arial";
}
.buttonRegist{
    -fx-background-color: #1E488F;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 0 12 0;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}
.buttonRegist:hover{
    -fx-background-color: #001F3F;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 0 12 0;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.buttonLogin {
    -fx-background-color: #DBE64C;
    -fx-text-fill: #001F3F;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 0 12 0;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.buttonLogin:hover {
    -fx-background-color: #b7bc77;
    -fx-text-fill: #001F3F;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12 0 12 0;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}